@model IEnumerable<film_app.Models.Kategoria>
@{
    
}

<header class="menu-bar">
    <nav class="menu">
        @foreach(var kategoria in Model)
        {
            <a class href="@Url.Action("Lista", "Filmy", new{nazwaKategorii=@kategoria.Nazwa.ToUpper()})" class="menu-link">@kategoria.Nazwa</a>
        }
        <a href="@Url.Action("DodajFilm", "Filmy")" class="menu-link">Dodaj Film</a>
    </nav>
</header>
