@model IEnumerable<film_app.Models.Kategoria>
@{
    
}

<header class="menu-bar">
    <nav class="menu">
        @foreach(var kategoria in Model)
        {
            <a href="@Url.Action("Lista", "Filmy", new{nazwaKategorii=@kategoria.Nazwa.ToUpper()})" class="menu-link">@kategoria.Nazwa</a>
        }
    </nav>
</header>
