@model IEnumerable<film_app.Models.Kategoria>
@{
    ViewData["Title"] = "Home Page";
}
<header>
    <nav>
        @foreach(var kategoria in Model)
        {
            <a href="#">@kategoria.Nazwa</a>
        }
    </nav>
</header>
<div class="text-center">
    Home Page
</div>
