@model IEnumerable<film_app.Models.KoszykRzecz>
@{
    ViewData["Title"] = "Koszyk";
    Layout = "_Layout";
}
<div class="text-center">
    <tbody>
    @foreach (KoszykRzecz koszykRzecz in Model) 
    {

      <tr id="cartItem-@koszykRzecz.Film.Id">
        <td>@koszykRzecz.Film.Tytul</td>
        <td><span id="itemQuantity-@koszykRzecz.Film.Id">@koszykRzecz.Ilosc</span></td>
        <td class="table-warning">@koszykRzecz.Wartosc zł</td>
        <td ><a href="#" class="trash">&#128465</a></td>
      </tr>
    }
    </tbody>

</div>
<div>
    Razem: @ViewBag.CenaCalkowita zł
</div>
@section Scripts{
    <scripts sarchive="~/lib/jquery/dist/jquery.min.js"></scripts>
    <script type="text/javascript">
        $(".trash").click(function(){
            var ElementKoszaId = $(this).data("id");
            console.log(ElementKoszaId);
            if(ElementKoszaId != ''){
                $.post("/Koszyk/UsunZKoszyka", {"id":ElementKoszykaId}), function(response){
                    if(response.IloscRzeczy == 0){
                        $("#cartItem-"+response.rzeczId).fadeOut("slow");
                    }
                    else{
                        $("itemQuantity-"+response.itemId).text(response.iloscRzeczy);
                    }
                }
            });
        });
    </script>
}
